APP_NAME=mapping-paris-strava-b2
APP_VERSION=0.1.0
ENV=local
LOG_LEVEL=INFO
API_BASE_URL=http://localhost:8000
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_REDIRECT_URI=http://localhost:8000/auth/strava/callback
DATABASE_URL=sqlite:///./mapping_paris_strava_b2.db
